.ui-home{
    height: 100%;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    font-family: var(--FF);
    position: fixed;
    width: 90%;
    z-index: 100;
}
.navbar-menu{
    display: flex;
    gap: 20px;
}
.navbar-link{
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 50px;
	transition: 0.5s;
    color: red;
	box-shadow: 0px 0px 5px var(--BLUE-TEXT-LIGHT);
}

.main-content {
	display: flex;
	font-family: var(--FF);
	background-color: var(--BG-COLOR);
	min-height: 90vh;
	align-items: center;

}
.content {
	display: flex;
    flex: 1;
	flex-direction: column;
	padding-left: 60px;
}
 .salutation {
	color: #fff;
    color: var(--BLUE-TEXT);
	padding: 20px 0px;
	font-weight: 400;
	font-size: 2.8rem;
	-webkit-animation: text-focus-in 2s 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
	animation: text-focus-in 2s 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
 .description {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}
 .about {
	color: #fff;
	font-size: 1rem;
	font-weight: 300;
	padding: 30px 0px;
	max-width: 500px;
}

.profile-picture-container {
	flex: 1;
	display: flex;
	justify-content: center;
	position: relative;
}
 .profile-picture {
	border-radius: 50%;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	-webkit-animation: roll-in-blurred-left 2.5s 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: roll-in-blurred-left 2.5s 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
 .profile-photo {
	width: 270px;
	border: 2px solid var(--BLUE-TEXT);
	z-index: 5;
}
.polygons {
	position: absolute;
	top: -60px;
	pointer-events: none;
}
 .polygons img {
	height: 400px;
	opacity: 0.6;
	pointer-events: none;
}
.socials {
	display: flex;
	align-items: center;
	column-gap: 30px;
	margin-top: 60px;
	animation: bounce-in-top 1s;
}
.social-media img {
	width: 40px;
}
.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 50%;
	border: 1px solid var(--BLUE-TEXT-LIGHT);
	transition: 0.5s;
	box-shadow: 0px 0px 15px var(--BLUE-TEXT-LIGHT);
}

.social-media:hover {
	transform: translateY(-50%);
	box-shadow: 0px 0px 30px #fff;
	border-color: #fff;
}


@-webkit-keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}


@-webkit-keyframes roll-in-blurred-left {
	0% {
		-webkit-transform: translateX(-1000px) rotate(-720deg);
		transform: translateX(-1000px) rotate(-720deg);
		-webkit-filter: blur(50px);
		filter: blur(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}
@keyframes roll-in-blurred-left {
	0% {
		-webkit-transform: translateX(-1000px) rotate(-720deg);
		transform: translateX(-1000px) rotate(-720deg);
		-webkit-filter: blur(50px);
		filter: blur(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}

.wave{
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--FF);
    background-color: var(--BG-COLOR);
    min-height: 100vh;
    color: #fff;
    padding: 80px 60px 0px 60px;
  }
  .skills-title {
    font-weight: 300;
    font-size: 2.2rem;
    color: #6abdf9;
    font-family: var(--FF-1);
    padding-bottom: 10px;
  }
  .skills-title::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #6abdf9;
    display: inline-block;
    box-shadow: 0px 5px 10px #6abdf97c;
  }
  .skills-container {
    display: flex;
    gap: 15px;
    transition: 0.5s;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  @keyframes text-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
      transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
      transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
      transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
      transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  
  @media screen and (max-width: 700px) {
    .navbar{
        display: none;
    }
    .main-content{
        flex-direction: column-reverse;
        min-height: unset;
    }
    .content{
        padding: 8px 20px;
    }
    .socials{
        margin-top: 15px;
    }
    .salutation{
        padding: unset;
    }
    .profile-photo {
        width: 190px;
        border-radius: 35px;
    }
    .social-media img {
        width: 30px;
    }
    .ui-home{
        padding: 15px 0px;
    }
  }